*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #F9FAF8;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 12px;
    font-size: 24px;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.navLinks{
    display: flex;
}

.logo img{
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: yellowgreen;
    padding: 20px;
    
    &:hover{
    color: aquamarine;
    background-color: darkolivegreen;
    padding: auto 0;
    }
}


.heroSection{
    background-color: #2b394d;
    display: flex;
    padding: 92px;
    justify-content: center;
    align-items: center;
}

.heroImage img{
    border-radius: 87px;
    border: 3px dotted rgb(29, 28, 27);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}


.heroImage{
    width: 50%;
}


.heroText{
    width: 50%;
    padding: 32px;
    font-size: 1.1rem;
    
    & h1{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 16px;
    }
}


.heroText button{
    background-color: #1577b9;
    padding: 11px 18px;
    border-radius: 9px;
    font-weight: 800;
    color: white;
    font-size: 0.9rem;
    border: none;

    &:hover{
        background-color: #084d7a;
        cursor: pointer;
    }
}


.servicesSection{
    background-color: rgb(203, 223, 223);
    padding: 22px;
    color: #1F2937;
    

    & h1{
        text-align: center;
        margin-top: 1em;
        font-size: 2.4em;
    }
}



.gigs{
    padding: 30px 153px 94px;
    display: flex;
    justify-content: center;
    

    & p{
        text-align: center;
        width: 70%;
    }

    & img{
        border-radius: 10px;
        border: 2px solid rgb(3, 3, 3);
    }
}



.gig{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.companyGoal {
    background-color: #084d7a;
    padding: 122px;
    font-size: 2rem;
    font-style: italic;

    & h6{
        font-style: normal;
        text-align: right;
    }
}


.actionCallSection{
    background-color: #ffffff;
    padding: 100px;

    & .actionCall{
        display: flex;
        background-color: #3882f6;
        padding: 58px 20px;
        justify-content: space-around;
        border-radius: 10px;

        & h3{
            font-size: 1.5rem;
        }
        & button{
            padding: 12px;
            border-radius: 10px;
            border: 2px solid white;
            background-color: #3882f6;
            color: white;
            font-size: 1rem;
            font-weight: bold;

            &:hover{
                background-color: rgb(255, 255, 255);
                color: black;
                border: 2px solid black;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
}


.footer{
    padding: 35px;
    text-align: center;
}










/* About page styling */

.aboutSection{
    padding: 90px 120px 10px;
    display: flex;
    gap: 55px;
    align-items: center;
    background-color: #1577b9;

    & h1{
        font-size: 2.6rem;
        margin-bottom: 19px;
        color: yellow;
    }

    & p{
        margin-bottom: 12px;
        font-size: 1.3rem;
    }

    & img{
        border-radius: 15px;
    }
}


.aboutCall{
    padding: 30px 120px;
    background-color: #1577b9;
    
    & button{
        font-size: 1.2rem;
        margin: 9px;
        padding: 12px;
        border: none;
        border-radius: 9px;
        font-weight: bold;
        border: 2px solid black;

        &:hover{
            background-color: #1577b9;;
            color: white;
            border: 2px solid white;
            cursor: pointer;
        }
    }

    
}